<div class='container'>
  <%= form_with url: '/flights', method: 'get' do |f| %>
    <%= f.label :departure_id, 'Departure Airport:' %>
    <%= f.select :departure_id, @airports %>
    <%= f.label :arrival_id, 'Arrival Airport:' %>
    <%= f.select :arrival_id, @airports %>
    <%= f.label :start_date, 'Departure Date: ' %>
    <%= f.select :start_date, @dates %>
    <%= f.submit %>
  <% end %>
</div>
